@font-face {
  font-family: Poppins;
  src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Bold.ttf");
    font-weight: bold;
}

*, body{
	font-family: "Poppins" !important;
}

.sc-gTgzIj{
	display: none !important;
}